//
// Welcome
//

.welcome-enter-active,
.welcome-leave-active,
.intro,
.logo,
.character,
.panel--input,
.panel--output {
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-property: all;
}

.welcome-enter-active,
.welcome-leave-active {
    .intro {
        transform: scale(1);
    }

    .logo {
        transform: translateY(0%);
    }

    .character {
        opacity: 1;
    }

    .panel--input {
        transform: translateX(0%);
    }

    .panel--output {
        transform: translateX(0%);
    }
}

.welcome-enter,
.welcome-leave-to {
    .intro {
        transform: scale(0.5);
    }

    .logo {
        transform: translateY(-100%);
    }

    .character {
        opacity: 0;
    }

    .panel--input {
        transform: translateX(-100%);
    }

    .panel--output {
        transform: translateX(100%);
    }
}
