//
// Layout
//

.layout{
    z-index: 1;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}

.logo{
    z-index: 2;
    position: fixed;
    top: 2rem;
    left: 2rem;
    margin: 0;

    a{
        color: rgba(0,0,0,.87);
    }

    a:hover &__wordmark{
        text-decoration: line-through;
        text-decoration-style: wavy;
        text-decoration-color: #D41D1D;
    }

    &__symbol{
        color: #D41D1D;
    }

    &__wordmark{
        margin-left: 0.25em;
    }
}

.toggle-sidebar{
    color: white;
    z-index: 2;
    position: fixed;
    top: 2rem;
    right: 2rem;
    transition: all ease-out 200ms;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;

    &--active{
        transform: rotate(180deg);
        color: black;
    }

    svg{
        display: block;
    }
}

.sidebar{
    letter-spacing: normal;
    flex: 0 0 0%;
    max-width: 0%;
    background: black;
    overflow: hidden;
    transition: all ease-out 200ms;
    will-change: max-width, flex;

    &--active{
        flex: 0 0 480px;
        max-width: 480px;
    }

    &__inner{
        min-height: 100%;
        width: 480px;
        background: white;
        height: 100%;
        overflow: auto;
        padding: 2rem;
    }
}

.panels{
    min-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    transition: all ease-out 200ms;
    will-change: max-width, flex;
}

.panel{
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;

    .content{
        width: 100%;
        max-width: 640px;
        padding: 4rem;
    }

    &--input{
        .content{
            margin-left: auto;
        }
    }

    &--output{
        background: black;
        color: white;

        .content{
            margin-right: auto;
        }
    }
}

.character{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

textarea{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    appearance: none;
    resize: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    &:focus{
        outline: none;
    }
}
