//
// Layout
//

#header {
    padding: 2rem 2rem 0 2rem;
    margin: 0 0 2rem 0;

    @media only screen and (min-width: 600px) {
        position: sticky;
        top: 0;
    }

    svg {
        display: inline-block;
        color: #d41d1d;
        width: 4rem;
        height: auto;
    }
}

#main {
    margin: 0 auto;
    max-width: 640px;
}

textarea {
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    appearance: none;
    resize: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    padding: 2rem;
    margin: 0;
    overflow: hidden;
    background: transparent;

    &:focus {
        outline: none;
    }
}
