//
// Typography
//

h1{
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -0.05em;
}

h2{
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 900;
    letter-spacing: -0.05em;
}

h3{
    font-size: 1.25rem;
}
