/*
Flexbox
*/

.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

.valign{
    align-items: center;
}


/*
Text size
*/

.text-xs{ font-size: 12px; }
.text-base{ font-size: 16px; }
.text-md{ font-size: 18px; }
.text-lg{ font-size: 24px; }


/*
Text color
*/
.text-dark-primary{ color: rgba(0, 0, 0, .87); }
.text-dark-secondary{ color: rgba(0, 0, 0, .54); }
.text-dark-hint{ color: rgba(0, 0, 0, .38); }
.text-dark-separator{ color: rgba(0, 0, 0, .12); }
.text-dark-subtle{ color: rgba(0, 0, 0, .06); }

.text-light-primary{ color: rgba(255, 255, 255, 1); }
.text-light-secondary{ color: rgba(255, 255, 255, .7); }
.text-light-hint{ color: rgba(255, 255, 255, .5); }
.text-light-separator{ color: rgba(255, 255, 255, .12); }
.text-light-subtle{ color: rgba(255, 255, 255, .06); }

.text-red { color: rgb( 255, 59, 48); }
.text-orange { color: rgb(255, 149, 0); }
.text-yellow { color: rgb(255, 204, 0); }
.text-green { color: rgb(76, 217, 100); }
.text-teal-blue { color: rgb(90, 200, 250); }
.text-blue { color: rgb(0, 122, 255); }
.text-purple { color: rgb(88, 86, 214); }
.text-pink { color: rgb(255, 45, 85); }



/*
Text align
*/

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }


/*
Text decoration
*/

.text-bold{ font-weight: bold; }
.text-italic{ font-style: italic; }
.text-strike{ text-decoration: line-through; }
.text-line{ text-decoration: underline; }


/*
Background color
*/
.bg-dark-primary{ background-color: rgba(0, 0, 0, .87); }
.bg-dark-secondary{ background-color: rgba(0, 0, 0, .54); }
.bg-dark-hint{ background-color: rgba(0, 0, 0, .38); }
.bg-dark-separator{ background-color: rgba(0, 0, 0, .12); }
.bg-dark-subtle{ background-color: rgba(0, 0, 0, .06); }

.bg-light-primary{ background-color: rgba(0, 0, 0, 1); }
.bg-light-secondary{ background-color: rgba(0, 0, 0, .7); }
.bg-light-hint{ background-color: rgba(0, 0, 0, .5); }
.bg-light-separator{ background-color: rgba(0, 0, 0, .12); }
.bg-light-subtle{ background-color: rgba(0, 0, 0, .06); }

.bg-red{ background-color: rgb( 255, 59, 48); }
.bg-orange{ background-color: rgb(255, 149, 0); }
.bg-yellow{ background-color: rgb(255, 204, 0); }
.bg-green{ background-color: rgb(76, 217, 100); }
.bg-teal-blue{ background-color: rgb(90, 200, 250); }
.bg-blue{ background-color: rgb(0, 122, 255); }
.bg-purple{ background-color: rgb(88, 86, 214); }
.bg-pink{ background-color: rgb(255, 45, 85); }
.bg-grey{ background-color: rgb(225, 225, 225)}

.bg-frost{
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255, 255, 255, .12);
}


/*
Paddings
*/

.pd-xs{ padding: 8px; }
.pd-sm{ padding: 16px; }
.pd-md{ padding: 32px; }
.pd-lg{ padding: 64px; }

.pd-x-xs{ padding-left: 8px; padding-right: 8px; }
.pd-x-sm{ padding-left: 16px; padding-right: 16px; }
.pd-x-md{ padding-left: 32px; padding-right: 32px; }
.pd-x-lg{ padding-left: 64px; padding-right: 64px; }

.pd-y-xs{ padding-top: 8px; padding-bottom: 8px; }
.pd-y-sm{ padding-top: 16px; padding-bottom: 16px; }
.pd-y-md{ padding-top: 32px; padding-bottom: 32px; }
.pd-y-lg{ padding-top: 64px; padding-bottom: 64px; }

.pd-t-xs{ padding-top: 8px; }
.pd-t-sm{ padding-top: 16px; }
.pd-t-md{ padding-top: 32px; }
.pd-t-lg{ padding-top: 64px; }

.pd-r-xs{ padding-right: 8px; }
.pd-r-sm{ padding-right: 16px; }
.pd-r-md{ padding-right: 32px; }
.pd-r-lg{ padding-right: 64px; }

.pd-b-xs{ padding-bottom: 8px; }
.pd-b-sm{ padding-bottom: 16px; }
.pd-b-md{ padding-bottom: 32px; }
.pd-b-lg{ padding-bottom: 64px; }

.pd-l-xs{ padding-left: 8px; }
.pd-l-sm{ padding-left: 16px; }
.pd-l-md{ padding-left: 32px; }
.pd-l-lg{ padding-left: 64px; }

/*
Margins
*/

.mg-xs{min: 2px; }
.mg-xs{ margin: 8px; }
.mg-sm{ margin: 16px; }
.mg-md{ margin: 32px; }
.mg-lg{ margin: 64px; }

.mg-x-min{ margin-left: 2px; margin-right: 2px; }
.mg-x-xs{ margin-left: 8px; margin-right: 8px; }
.mg-x-sm{ margin-left: 16px; margin-right: 16px; }
.mg-x-md{ margin-left: 32px; margin-right: 32px; }
.mg-x-lg{ margin-left: 64px; margin-right: 64px; }

.mg-y-min{ margin-top: 2px; margin-bottom: 2px; }
.mg-y-xs{ margin-top: 8px; margin-bottom: 8px; }
.mg-y-sm{ margin-top: 16px; margin-bottom: 16px; }
.mg-y-md{ margin-top: 32px; margin-bottom: 32px; }
.mg-y-lg{ margin-top: 64px; margin-bottom: 64px; }

.mg-t-min{ margin-top: 2px; }
.mg-t-xs{ margin-top: 8px; }
.mg-t-sm{ margin-top: 16px; }
.mg-t-md{ margin-top: 32px; }
.mg-t-lg{ margin-top: 64px; }

.mg-r-min{ margin-right: 2px; }
.mg-r-xs{ margin-right: 8px; }
.mg-r-sm{ margin-right: 16px; }
.mg-r-md{ margin-right: 32px; }
.mg-r-lg{ margin-right: 64px; }

.mg-b-min{ margin-bottom: 2px; }
.mg-b-xs{ margin-bottom: 8px; }
.mg-b-sm{ margin-bottom: 16px; }
.mg-b-md{ margin-bottom: 32px; }
.mg-b-lg{ margin-bottom: 64px; }

.mg-l-min{ margin-left: 2px; }
.mg-l-xs{ margin-left: 8px; }
.mg-l-sm{ margin-left: 16px; }
.mg-l-md{ margin-left: 32px; }
.mg-l-lg{ margin-left: 64px; }


/*
Border radius
*/

.br-radius-xs{ border-radius: 4px; }
.br-radius-sm{ border-radius: 8px; }
.br-radius-md{ border-radius: 18px; }
.br-radius-lg{ border-radius: 36px; }


/*
Cursors
*/

.c-pointer{ cursor: pointer; }
